<!-- <form>
	<input type="text" placeholder="Username" ng-model="login.username" required><br>
	<input type="password" placeholder="password" ng-model="login.password" required><br>
	

</form> -->
<legend><img style="display:block; margin:auto; margin-top:10px;margin-bottom:10px;" src="assets/img/logo_i.png" width="250" alt="logo"></legend>
      <div class="content container">
         <div class="row">
            <div class="col-xs-4"></div>
            <section class="col-xs-4">
               <!-- <h2 class="text-left">Log in</h2> -->
               <form class="form-horizontal">
                  <fieldset >
                     <legend>Log in.</legend>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" 
                           for="Email">Email</label>
                        <div class="col-sm-9 input-group">
                           <input class="form-control" type="text"
                              id="Email" placeholder="Email" ng-model="login.username" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label class="col-sm-3 control-label" 
                           for="Password">Password</label>
                        <div class="col-sm-9 input-group">
                           <input class="form-control" type="Password" ng-model="login.password" 
                              id="Password" placeholder="Password" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                           <div class="checkbox">
                              <label>
                              <input id="inputAddList"
                                 type="checkbox" checked>
                              remember me </label>
                           </div>
                        </div>
                     </div>
                  </fieldset>
                  <div class="form-group">
                     <div class="col-sm-9 col-sm-offset-2">
                        <!-- <input type="submit" class="btn btn-default"  
                           value="Log in"> -->
						<button type="submit" class="btn btn-default"  ng-click="signIn(login)"> Sign In </button>
                     </div>
                  </div>
               </form>
            </section>
         </div>
         <!-- row --> 
      </div>