.content{
	/*padding-top:70px;*/
	}
	.Mysmall{
		margin-bottom:10px;
		}
	.MyWell{
		background-color: #bef0f9;
		margin-bottom: 0px;
		}

		
	.MyFooter{
		background-color: #92EBFB;
		padding-top:10px;
		}		
		
	/*
	.navbar-default,.navbar-inverse{
		background-color:#bef0f9;
		border-bottom: 1px solid black;
		} */
		
		/*position: fixed;*/	
.navbar-default {
	height:53px;
  background-color: #bef0f9;
  border-color: #37dffd;
  
}
.navbar-default .navbar-brand {
  color: #55a4b8;
  height:53px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #42838e;
  height:53px;
}
.navbar-default .navbar-text {
  color: #55a4b8;
  
}
.navbar-default .navbar-nav > li > a {
  color: #55a4b8;
  height:52px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #42838e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #42838e;
  background-color: #37dffd;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #42838e;
  background-color: #37dffd;
}
.navbar-default .navbar-toggle {
  border-color: #37dffd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #37dffd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #55a4b8;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #55a4b8;
}
.navbar-default .navbar-link {
  color: #55a4b8;
}
.navbar-default .navbar-link:hover {
  color: #42838e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #55a4b8;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #42838e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #42838e;
    background-color: #37dffd;
  }
}

/* Searchbox */

/*Spinner*/
.spinner {
  width: 100px;
  height:33px;
 /* text-align: right;
  padding-right:10px;*/
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
